body {
    background-color: #F7EDE1;
}

.content {
    padding: 50px;
    padding-top: 30px;
}

.totalBillsCollectedText {
    padding-left: 500px;
    font-weight: 600;
}

.amountCollected {
    text-align: center;
    color: #41A74E;
    font-size: 90px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 5px 5px #4d4c4c;
}

#roomDate {
    justify-content: flex-end;
}

.accordion-body {
    height: 100px;
}

.accordion-body .a_image {
    margin-left: 20px;
}